html{
    font-size: 16px;
}

body{
    background: #f8f8f8;
    height: 100vh;
}

.modal{
    position: relative;
    height: 100vh;
}

.modalContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    background: #646464;
    border-radius: 8px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.modal-header{
    padding: 1em;
}

.modal-body{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: chocolate;
    transform-origin: top;
    transition-property: height;
}

.modal-footer{
    padding: 1em;
}

.modal-body.focus{
    height: 0;
    overflow: hidden;
    display: hidden;
}

.modal-body2{
    height: 0;
    overflow: hidden;
    display: hidden;
    transition: 0.3s cubic-bezier(0, 0.99, 0.3, 1.19);
    
}

.modal-body2.focus{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:violet;
    transform-origin: top;
    transform: rotate(45deg);
    transform-origin: bottom right;
    transition: height 0.3s, transform 0.6s 0.4s;
}


.modal-body3{
    height: 0;
    overflow: hidden;
    display: hidden;
    transition: 0.3s;
    transition-property: height;
}

.modal-body3.focus{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: tomato;
    transform-origin: top;
}

.hidden{
    display: hidden;
}

.btn{
    padding: 2em;
    background: turquoise;
}