html {
  font-size: 10px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: #2b2b2b;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #2b2b2b;
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #2b2b2b;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #2b2b2b;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #2b2b2b;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #2b2b2b;
}

a {
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #2b2b2b;
  text-decoration: none;
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn {
  width: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  display: inline-flex;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 0 auto;
  background-color: #0068d7;
  color: #fff;
  border: 2px solid transparent;
  transition-duration: 0.2s;
  transition-delay: 0;
  transition-timing-function: ease-in;
  transition-property: opacity, color, background, border;
  min-width: 40px;
  font-weight: 500;
}

.btn:disabled, .btn:disabled:hover {
  background-color: #c4c4c4;
  color: #424242;
}

.btn-block {
  background-color: #0068d7;
  color: #fff;
}

.btn-block:hover, .btn-block:active {
  background-color: #0068d7;
}

.btn-line {
  background-color: transparent;
  color: #0068d7;
  border-color: #0068d7;
}

.btn-line:hover {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
}

.btn-blockRound {
  border-radius: 50px;
}

.btn-lineRound {
  background-color: transparent;
  color: #0068d7;
  border-radius: 50px;
  border-color: #0068d7;
}

.btn-lineRound:hover {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
}

.btn-hover {
  background-color: #0068d7;
  color: #fff;
  opacity: 0.7;
}

.btn-hover:hover, .btn-hover:active {
  background-color: #0068d7;
  opacity: 1;
}

.btn-lineHover {
  background-color: transparent;
  color: #0068d7;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-lineHover:hover, .btn-lineHover:active {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
  opacity: 1;
}

.btn-blockRoundHover {
  background-color: #0068d7;
  color: #fff;
  border-radius: 50px;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-blockRoundHover:hover, .btn-blockRoundHover:active {
  border-color: #0068d7;
  opacity: 1;
}

.btn-lineRoundHover {
  background-color: transparent;
  color: #0068d7;
  border-radius: 50px;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-lineRoundHover:hover, .btn-lineRoundHover:active {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
  opacity: 1;
}

.btn-warning {
  background-color: #ef5050;
  color: #f8f8f8;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url();
  flex: 1 1 auto;
}

.a11y-hidden-bg {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.a11y-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}
