a {
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #2b2b2b;
  text-decoration: none;
  outline: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin: 0 auto;
  background-color: #0068d7;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
  -webkit-transition-property: opacity, color, background, border;
  transition-property: opacity, color, background, border;
  min-width: 40px;
  font-weight: 500;
}

.btn:disabled, .btn:disabled:hover {
  background-color: #c4c4c4;
  color: #424242;
}

.btn-block {
  background-color: #0068d7;
  color: #fff;
}

.btn-block:hover, .btn-block:active {
  background-color: #0068d7;
}

.btn-line {
  background-color: transparent;
  color: #0068d7;
  border-color: #0068d7;
}

.btn-line:hover {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
}

.btn-blockRound {
  border-radius: 50px;
}

.btn-lineRound {
  background-color: transparent;
  color: #0068d7;
  border-radius: 50px;
  border-color: #0068d7;
}

.btn-lineRound:hover {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
}

.btn-hover {
  background-color: #0068d7;
  color: #fff;
  opacity: 0.7;
}

.btn-hover:hover, .btn-hover:active {
  background-color: #0068d7;
  opacity: 1;
}

.btn-lineHover {
  background-color: transparent;
  color: #0068d7;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-lineHover:hover, .btn-lineHover:active {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
  opacity: 1;
}

.btn-blockRoundHover {
  background-color: #0068d7;
  color: #fff;
  border-radius: 50px;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-blockRoundHover:hover, .btn-blockRoundHover:active {
  border-color: #0068d7;
  opacity: 1;
}

.btn-lineRoundHover {
  background-color: transparent;
  color: #0068d7;
  border-radius: 50px;
  border-color: #0068d7;
  opacity: 0.7;
}

.btn-lineRoundHover:hover, .btn-lineRoundHover:active {
  background-color: #0068d7;
  color: #fff;
  border-color: transparent;
  opacity: 1;
}

.btn-warning {
  background-color: #ef5050;
  color: #f8f8f8;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url();
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
