h1 {
  font-size: 3.2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 900;
  color: #2b2b2b;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #2b2b2b;
}

h3 {
  font-size: 2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 700;
  color: #2b2b2b;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #2b2b2b;
}

h5 {
  font-size: 1.4rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #2b2b2b;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #2b2b2b;
}
