

/* variable color */

// default color
$sy-black: #2b2b2b;
$bgColor: transparent;
$textColor: transparent;

// system color
$sy-pri: #0068d7;
$sy-red: #ef5050;
$sy-yellow: #ef9350;
$sy-green: #39c270;
$sy-blue: #2056f8;

$sy-light: rgba(#f8f8f8, 1); //f8f8f8
$sy-gray-1: rgba(#f2f2f2, 1); //f2f2f2
$sy-gray-2: rgba(#efefef, 1); //efefef
$sy-gray-3: rgba(#c4c4c4, 1); //c4c4c4
$sy-gray-4: rgba(#8c8c8c, 1); //8c8c8c
$sy-gray-5: rgba(#626262, 1); //626262
$sy-gray-6: rgba(#424242, 1); //424242
$sy-gray-7: rgba(#333333, 1); //333333
$sy-gray-7: rgba(#2b2b2b, 1); //333333
$sy-dark: rgba(#2b2b2b, 1); //2b2b2b

// default width
$w : 80px;
$y : 40px;
$z : 1;

$margin : 8px;
$padding : 1em; 