@import "mixin.scss";

// a기본설정
a {
  @include font(1.6rem);
  text-decoration: none;
  outline: none;
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

// btn기본설정
@mixin btnDefault() {
  @include btn(auto, 1.6rem);
  @include radius(4px);
  @include padding(0.5em 1em);
  @include margin(0 auto);
  @include colors($sy-pri, #fff);
  @include border(2px, solid, transparent);
  @include transition($timing: ease-in-out);
  transition-property: opacity, color, background, border;
  min-width: 40px;
  font-weight: 500;
  &:disabled,
  &:disabled:hover {
    @include colors($sy-gray5, $sy-gray2);
  }
  &:focus {
    @include border(1px, solid, $sy-pri);
  }
}

.btn {
  @include btnDefault();
}

.btn-block {
  @include colors($sy-pri, #fff);
  &:hover,
  &:active {
    background-color: $sy-pri;
  }
}

.btn-line {
  @include colors(transparent, $sy-pri);
  border-color: $sy-pri;
  &:hover {
    @include colors($sy-pri, #fff);
    border-color: transparent;
  }
}

.btn-blockRound {
  @include radius(50px);
}

.btn-lineRound {
  @include colors(transparent, $sy-pri);
  @include radius(50px);
  border-color: $sy-pri;
  &:hover {
    @include colors($sy-pri, #fff);
    border-color: transparent;
  }
}

.btn-hover {
  @include colors($sy-pri, #fff);
  opacity: 0.7;
  &:hover,
  &:active {
    background-color: $sy-pri;
    opacity: 1;
  }
}

.btn-lineHover {
  @include colors(transparent, $sy-pri);
  border-color: $sy-pri;
  opacity: 0.7;
  &:hover,
  &:active {
    @include colors($sy-pri, #fff);
    border-color: transparent;
    opacity: 1;
  }
}

.btn-blockRoundHover {
  @include colors($sy-pri, #fff);
  @include radius(50px);
  border-color: $sy-pri;
  opacity: 0.7;
  &:hover,
  &:active {
    border-color: $sy-pri;
    opacity: 1;
  }
}

.btn-lineRoundHover {
  @include colors(transparent, $sy-pri);
  @include radius(50px);
  border-color: $sy-pri;
  opacity: 0.7;
  &:hover,
  &:active {
    @include colors($sy-pri, #fff);
    border-color: transparent;
    opacity: 1;
  }
}

.btn-warning {
  @include colors(#ef5050, #f8f8f8);
}
