// default color
$sy-black: #2b2b2b;
$bgColor: transparent;
$textColor: transparent;

// system color
$sy-pri: #0068d7;
$sy-red: #ef5050;
$sy-yellow: #ef9350;
$sy-green: #39c270;
$sy-blue: #2056f8;

$sy-dark: rgba(43, 43, 43, 1); //2b2b2b
$sy-gray1: rgba(51, 51, 51, 1); //333333
$sy-gray2: rgba(66, 66, 66, 1); //424242
$sy-gray3: rgba(98, 98, 98, 1); //626262
$sy-gray4: rgba(140, 140, 140, 1); //8c8c8c
$sy-gray5: rgba(196, 196, 196, 1); //c4c4c4
$sy-gray6: rgba(239, 239, 239, 1); //efefef
$sy-gray7: rgba(242, 242, 242, 1); //f2f2f2
$sy-light: rgba(248, 248, 248, 1); //f8f8f8
