@charset "utf-8";
@import "color.scss";

@mixin clear {
  &:after {
    content: "";
    height: 0;
    display: block;
    clear: both;
  }
}

// font
@mixin font(
  $fontSize: 1rem,
  $lineHeight: 1.5em,
  $letterSpacing: -0.02em,
  $fontWeight: 500,
  $color: $sy-black
) {
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-weight: $fontWeight;
  color: $color;
}

//margin
@mixin margin($var...) {
  margin: $var;
}

//padding
@mixin padding($var...) {
  padding: $var;
}

@mixin radius($var...) {
  border-radius: $var;
}

@mixin border($var1, $var2, $var3) {
  border: $var1 $var2 $var3;
}

// word-break
@mixin ellipsis($width) {
  width: $width;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin ellipsis2($line, $width, $height) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  width: $width;
  height: $height;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

// center modal
@mixin position($x, $y, $z, $width) {
  position: absolute;
  left: $x;
  top: $y;
  z-index: $z;
  width: $width;
  @if $x == 50% and $y == 50% {
    transform: translate(-50%, -50%);
  } @else if $y == 50% {
    transform: translateY(-50%);
  } @else if $x == 50% {
    transform: translateX(-50%);
  }
}

@mixin btn($width: auto, $fontSize: 1rem) {
  width: $width;
  justify-content: center;
  align-items: center;
  font-size: $fontSize;
  cursor: pointer;
  display: inline-flex;
}

@mixin colors($bgColor: transparent, $textColor: transparent) {
  background-color: $bgColor;
  color: $textColor;
}

@mixin transition($duration: 0.5s, $delay: 0, $timing: ease-in) {
  transition: {
    duration: $duration;
    delay: $delay;
    timing-function: $timing;
  }
}

@mixin bgImg(
  $position: (
    center center,
  ),
  $size: contain,
  $repeat: no-repeat
) {
  background: {
    position: $position;
    size: $size;
    repeat: $repeat;
  }
}

@mixin flex($var:(1 1 auto)) {
  flex: $var;
}